USE [master]
GO

CREATE DATABASE [Tu]
ON PRIMARY 
( NAME = N'Tu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tu.mdf', SIZE = 73728KB, MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
LOG ON 
( NAME = N'Tu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tu_log.ldf', SIZE = 8192KB, MAXSIZE = 2048GB, FILEGROWTH = 65536KB )
GO

USE [Tu]
GO

-- ============================================================
-- TABLES
-- ============================================================

CREATE TABLE [dbo].[User] (
    [id]         INT           IDENTITY(1,1) NOT NULL,
    [Login]      NVARCHAR(100) NULL,
    [Password]   NVARCHAR(MAX) NULL,
    [Name]       NVARCHAR(100) NULL,
    [LastName]   NVARCHAR(100) NULL,
    [MiddleName] NVARCHAR(100) NULL,
    [Age]        INT           NULL,
    [Role]       INT           NULL,
    [Post]       NVARCHAR(100) NULL,
    [BirthDate]  DATE          NULL,
    [Gender]     NVARCHAR(100) NULL,
    [Phone]      NVARCHAR(100) NULL,
    CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

CREATE TABLE [dbo].[Teacher] (
    [id]              INT           IDENTITY(1,1) NOT NULL,
    [UserId]          INT           NOT NULL,
    [Department]      NVARCHAR(150) NULL,
    [Post]            NVARCHAR(150) NULL,
    [Cabinet]         NVARCHAR(50)  NULL,
    [AcademicDegree]  NVARCHAR(150) NULL,
    [AcademicTitle]   NVARCHAR(150) NULL,
    CONSTRAINT [PK_Teacher]        PRIMARY KEY CLUSTERED ([id] ASC),
    CONSTRAINT [UQ_Teacher_UserId] UNIQUE NONCLUSTERED ([UserId] ASC)
)
GO

CREATE TABLE [dbo].[Student] (
    [id]                INT           IDENTITY(1,1) NOT NULL,
    [UserId]            INT           NOT NULL,
    [GroupName]         NVARCHAR(100) NULL,
    [Course]            INT           NULL,
    [Faculty]           NVARCHAR(150) NULL,
    [Speciality]        NVARCHAR(150) NULL,
    [StudentCardNumber] NVARCHAR(100) NULL,
    [EducationForm]     NVARCHAR(100) NULL,
    CONSTRAINT [PK_Student]        PRIMARY KEY CLUSTERED ([id] ASC),
    CONSTRAINT [UQ_Student_UserId] UNIQUE NONCLUSTERED ([UserId] ASC)
)
GO

CREATE TABLE [dbo].[Subject] (
    [id]          INT           IDENTITY(1,1) NOT NULL,
    [title]       NVARCHAR(200) NOT NULL,
    [short_title] NVARCHAR(50)  NULL,
    [description] NVARCHAR(500) NULL,
    [is_active]   BIT           NOT NULL CONSTRAINT [DF_Subject_is_active] DEFAULT (1),
    CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

CREATE TABLE [dbo].[LessonTime] (
    [lesson_number] TINYINT   NOT NULL,
    [time_start]    TIME(0)   NOT NULL,
    [time_end]      TIME(0)   NOT NULL,
    CONSTRAINT [PK_LessonTime]      PRIMARY KEY CLUSTERED ([lesson_number] ASC),
    CONSTRAINT [CK_LessonTime_Number] CHECK ([lesson_number] >= 1 AND [lesson_number] <= 10),
    CONSTRAINT [CK_LessonTime_Time]   CHECK ([time_start] < [time_end])
)
GO

CREATE TABLE [dbo].[Schedule] (
    [id]            INT            IDENTITY(1,1) NOT NULL,
    [group_name]    NVARCHAR(100)  NOT NULL,
    [subject_id]    INT            NOT NULL,
    [teacher_id]    INT            NULL,
    [day_of_week]   TINYINT        NOT NULL,
    [week_type]     TINYINT        NOT NULL CONSTRAINT [DF_Schedule_week_type]   DEFAULT (0),
    [lesson_number] TINYINT        NOT NULL,
    [cabinet]       NVARCHAR(50)   NULL,
    [subgroup]      NVARCHAR(50)   NULL,
    [note]          NVARCHAR(500)  NULL,
    [is_active]     BIT            NOT NULL CONSTRAINT [DF_Schedule_is_active]   DEFAULT (1),
    [created_at]    DATETIME2(0)   NOT NULL CONSTRAINT [DF_Schedule_created_at]  DEFAULT (SYSDATETIME()),
    [updated_at]    DATETIME2(0)   NULL,
    CONSTRAINT [PK_Schedule]         PRIMARY KEY CLUSTERED ([id] ASC),
    CONSTRAINT [CK_Schedule_DayOfWeek] CHECK ([day_of_week] >= 1 AND [day_of_week] <= 7),
    CONSTRAINT [CK_Schedule_WeekType]  CHECK ([week_type] = 0 OR [week_type] = 1 OR [week_type] = 2)
)
GO

CREATE TABLE [dbo].[Appointments] (
    [id]                INT            IDENTITY(1,1) NOT NULL,
    [user_id]           INT            NOT NULL,
    [teacher_id]        INT            NOT NULL,
    [teacher_name]      NVARCHAR(255)  NOT NULL,
    [student_name]      NVARCHAR(255)  NOT NULL,
    [title]             NVARCHAR(255)  NOT NULL,
    [description]       NVARCHAR(MAX)  NULL,
    [appointment_date]  DATE           NOT NULL,
    [appointment_time]  TIME(0)        NOT NULL,
    [duration_minutes]  INT            NOT NULL CONSTRAINT [DF_Appointments_duration]    DEFAULT (30),
    [cabinet]           NVARCHAR(50)   NULL,
    [status]            INT            NOT NULL CONSTRAINT [DF_Appointments_status]      DEFAULT (1),
    [cancelled_by_role] INT            NULL,
    [cancelled_by_text] NVARCHAR(50)   NULL,
    [cancelled_at]      DATETIME2(7)   NULL,
    [rating]            INT            NOT NULL CONSTRAINT [DF_Appointments_rating]      DEFAULT (0),
    [created_at]        DATETIME2(7)   NOT NULL CONSTRAINT [DF_Appointments_created_at] DEFAULT (SYSDATETIME()),
    [updated_at]        DATETIME2(7)   NULL,
    CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

CREATE TABLE [dbo].[UserSession] (
    [id]             INT           IDENTITY(1,1) NOT NULL,
    [UserId]         INT           NOT NULL,
    [Token]          NVARCHAR(500) NOT NULL,
    [DeviceName]     NVARCHAR(200) NULL,
    [Platform]       NVARCHAR(100) NULL,
    [IpAddress]      NVARCHAR(100) NULL,
    [CreatedAt]      DATETIME      NOT NULL CONSTRAINT [DF_UserSession_CreatedAt]  DEFAULT (GETDATE()),
    [LastActivityAt] DATETIME      NULL,
    [ExpiresAt]      DATETIME      NULL,
    [IsRevoked]      BIT           NOT NULL CONSTRAINT [DF_UserSession_IsRevoked]  DEFAULT (0),
    CONSTRAINT [PK_UserSession] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- ============================================================
-- INDEXES
-- ============================================================

CREATE NONCLUSTERED INDEX [IX_Schedule_Filter] ON [dbo].[Schedule] (
    [group_name]    ASC,
    [day_of_week]   ASC,
    [week_type]     ASC,
    [lesson_number] ASC
)
GO

-- ============================================================
-- FOREIGN KEYS
-- ============================================================

ALTER TABLE [dbo].[Teacher]      ADD CONSTRAINT [FK_Teacher_User]        FOREIGN KEY ([UserId])         REFERENCES [dbo].[User]       ([id])
ALTER TABLE [dbo].[Student]      ADD CONSTRAINT [FK_Student_User]         FOREIGN KEY ([UserId])         REFERENCES [dbo].[User]       ([id])
ALTER TABLE [dbo].[Schedule]     ADD CONSTRAINT [FK_Schedule_Subject]     FOREIGN KEY ([subject_id])     REFERENCES [dbo].[Subject]    ([id])
ALTER TABLE [dbo].[Schedule]     ADD CONSTRAINT [FK_Schedule_Teacher]     FOREIGN KEY ([teacher_id])     REFERENCES [dbo].[Teacher]    ([id])
ALTER TABLE [dbo].[Schedule]     ADD CONSTRAINT [FK_Schedule_LessonTime]  FOREIGN KEY ([lesson_number])  REFERENCES [dbo].[LessonTime] ([lesson_number])
ALTER TABLE [dbo].[Appointments] ADD CONSTRAINT [FK_Appointments_User]    FOREIGN KEY ([user_id])        REFERENCES [dbo].[User]       ([id])
ALTER TABLE [dbo].[Appointments] ADD CONSTRAINT [FK_Appointments_Teacher] FOREIGN KEY ([teacher_id])     REFERENCES [dbo].[Teacher]    ([id])
ALTER TABLE [dbo].[UserSession]  ADD CONSTRAINT [FK_UserSession_User]     FOREIGN KEY ([UserId])         REFERENCES [dbo].[User]       ([id])
GO

-- ============================================================
-- VIEW
-- ============================================================

CREATE VIEW [dbo].[ScheduleView] AS
SELECT
    s.[id],
    s.[group_name],
    s.[subject_id],
    subj.[title]       AS [subject_title],
    subj.[short_title] AS [subject_short_title],
    s.[teacher_id],
    t.[UserId]         AS [teacher_user_id],
    LTRIM(RTRIM(CONCAT(
        ISNULL(u.[LastName],   N''), N' ',
        ISNULL(u.[Name],       N''), N' ',
        ISNULL(u.[MiddleName], N'')
    )))                AS [teacher_name],
    s.[day_of_week],
    s.[week_type],
    s.[lesson_number],
    CONVERT(VARCHAR(5), lt.[time_start], 108) AS [time_start],
    CONVERT(VARCHAR(5), lt.[time_end],   108) AS [time_end],
    s.[cabinet],
    s.[subgroup],
    s.[note],
    s.[is_active]
FROM      [dbo].[Schedule]   s
INNER JOIN [dbo].[Subject]    subj ON subj.[id]           = s.[subject_id]
INNER JOIN [dbo].[LessonTime] lt   ON lt.[lesson_number]  = s.[lesson_number]
LEFT  JOIN [dbo].[Teacher]    t    ON t.[id]              = s.[teacher_id]
LEFT  JOIN [dbo].[User]       u    ON u.[id]              = t.[UserId]
WHERE s.[is_active] = 1
GO